DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=werkblatt.zircula.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://werkblatt.zircula.org
WERKBLATT_PUBLIC_BASE_URL=https://werkblatt.zircula.org
WERKBLATT_DEFAULT_ORGANIZATION=zircula
WERKBLATT_SOFTWARE_AUTHOR_LABEL=Zircula e.V.
WERKBLATT_SOFTWARE_AUTHOR_URL=https://zircula.org
WERKBLATT_HOSTING_PROVIDER_LABEL=Hosted by Zircula e.V.

POSTGRES_DB=werkblatt
POSTGRES_USER=werkblatt

OIDC_DISCOVERY_URL=https://auth.zircula.org/application/o/werkblatt/.well-known/openid-configuration
OIDC_ISSUER=https://auth.zircula.org/application/o/werkblatt/
OIDC_CLIENT_ID=CHANGE_ME
OIDC_ALLOWED_GROUPS=Werkblatt Admins,Werkblatt Users
OIDC_ADMIN_GROUPS=Werkblatt Admins

PRETIX_BASE_URL=https://www.pretix.eu
PRETIX_ORGANIZER=WERK

WEBDAV_BASE_URL=https://cloud.zircula.org/remote.php/dav/files/CHANGE_ME
WEBDAV_USERNAME=CHANGE_ME
WEBDAV_ROOT=Werkblatt
WEBDAV_TRUST_MODE=hosted
WEBDAV_ALLOWED_HOSTS=
