# General
TZ=Europe/Berlin

# Collabora
COLLABORA_VERSION=26.04.3.1.1

# Public URL
COLLABORA_DOMAIN=office.zircula.org

# Allowed productive Nextcloud host (regular expression)
COLLABORA_ALIASGROUP1=https://cloud\.zircula\.org

