########################################
# Authentik
########################################

# Secret Key
# Generate with:
# openssl rand -base64 60
AUTHENTIK_SECRET_KEY=CHANGE_ME

########################################
# PostgreSQL
########################################

PG_HOST=postgres
PG_PORT=5432

PG_DB=authentik
PG_USER=authentik
PG_PASS=CHANGE_ME
