# General
TZ=Europe/Berlin

# Nextcloud
NEXTCLOUD_VERSION=34.0.1-apache

# Database
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=CHANGE_ME

# Redis
# Generate once with: openssl rand -hex 32
# Use the same value in docker/redis/.env.
REDIS_PASSWORD=CHANGE_ME

# PHP
PHP_MEMORY_LIMIT=2048M
PHP_UPLOAD_LIMIT=32G

